*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}




img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	font-family: 'TT Norms Pro', sans-serif;
	line-height: 1.2;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
}


.home-menu {
	border-bottom: 1px solid #cdcdcd;
	;
}

.home-menu__list {
	display: flex;
	justify-content: space-evenly;
	padding: 15px 0;
	background-color:#a8bedf ;
}

.home-menu__item {}

.home-menu__link {
	color: #2E3A4C;
	font-size: 20px;
	letter-spacing: 1.15px;
}

.info {
	line-height:1.2;
	margin: 0 0 50px 0;
}

.info p {
	margin-bottom: 100px;
}

h1 {
	font-size: 38px;
	text-align: center;
	font-weight: bold;
	color: #2E3A4C;
}
h2 {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #2E3A4C;
}

p {
	font-size: 18px;
}




.user-info__title {
	padding-top: 100px;
	color: #2E3A4C;
	margin-bottom: 25px;
	letter-spacing: 1.15px;

}

.user-info__title::after {
	content: "";
	display: block;
	width:100%;
	height: 1px;
	background-color: rgba(65, 76, 229, 0.148);
	margin-top: 10px;
	
}

.user-info__user-img {
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #cacadb;
	padding: 3px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.user-info__list {
	margin-bottom: 100px;
}

.user-info__item:not(:last-child) {
	margin-bottom: 12px;
}

.user-info__item {
	padding: 7px 0 7px 25px;
	background-image: url('../img/mark-checkbox.png');
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: left center;
}

.subtitle {
	margin-bottom: 25px;
	letter-spacing: 1.15px
}

.subtitle::after {
	content: "";
	display: block;
	width:100%;
	height: 2px;
	background-color: rgba(65, 76, 229, 0.148);
	margin-top: 10px;
}

.skills__list {
	margin-bottom: 100px;
}

.skills__item {
	padding: 7px 0 7px 25px;
	background-image: url('../img/mark-checkbox.png');
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: left center;
}

.code-example {
	max-width: 500px;
	padding: 30px;
	border-radius: 30px;
	background-color: rgb(224, 230, 249);
	font-size: 18px;
	line-height: 1.2;
	color: rgb(33, 56, 131);
	margin-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
}

.footer {
	background-color: #2f2e2e;
	color: #fff;
	padding: 25px 0;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.github img:hover {
	opacity: 0.4;
	transition: 0.3s;
}

.rs-school img:hover {
	opacity: 0.4;
	transition: 0.3s;
}

.contact {
	margin-bottom: 100px;
}

.contact p {
	margin-bottom: 10px;
}

.contact img:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.contact__list {
	display: flex;
	justify-content: space-evenly;
}
.contact__item {
	margin-right: 15px;
}

.project {
	margin-bottom: 100px;
}

.project__link {
	font-size: 20px;
	/*text-transform: uppercase;*/
	text-decoration: underline;
	display: block;
	text-align: center;
	text-decoration: none;

}

nav a:hover {
	border-bottom: 1px dashed;
}

.project a:hover {
	color: red;
}


